%scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

%viewport {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @extend %scrollable;
}

%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

