@charset "UTF-8";

@import "vux.reset";

// 全局自动引入，组件不应引入该文件。期望的是它的优先级次低(最低的是normalize.css)
// 这里面是一些全局使用的CSS样式
// 虽然webpack的css优化插件可以去重，但是我们不应依赖它，而在于开发的时候尽量避免产生重复代码
@import "index";

.bottom-thin {
  @extend %bottom-thin;
}

.top-thin {
  @extend %top-thin;
}

.left-thin {
  @extend %left-thin;
}

.right-thin {
  @extend %right-thin;
}

.viewport {
  @extend %viewport;
}

.bg-gray {
  background-color: $bg-gray;
}

body {
  overflow: hidden;
}

.image-block {
  display: block;
  width: 100%;
}

