@charset "UTF-8";

// UI距离屏幕左右边界的距离
$breath: 15px;

// 1px物理像素的线的默认颜色
$color-default-hairlines: #f0f0f0;

$line-height: 20px;

$bg-gray: #f7f7f7;
$bg-placeholder: #f2f2f2;

$color-primary: #00b0ff;

// 标题颜色
$color-title: #646464;

// 标题字体大小
$font-title: 15px;

