@charset "UTF-8";

// UI距离屏幕左右边界的距离
$breath: 15px;

$line-height: 20px;

$bg-gray: #f7f7f7;

$color-primary: #00b0ff;

// 标题颜色
$color-title: #646464;

// 标题字体大小
$font-title: 15px;

// 标题高度
$height-title: 40px;
$bg-title: $bg-gray;

$bg-tab: #fff;
$height-tab: 45px;
$font-tab: 15px;
$color-tab: #666;
$color-border-tab: $color-primary;
